/* page header in Main page(MEgo/~) */
.page-header {
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;
    background: none;
  /* 생략 */
}

.bottom-page-header {
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    position: fixed;
    top: 82%;
    /* width: 100% */
    left: 0;
    right: 0;
}

.content {
    
}


.date {
    color: #828282;
}

.post-form textarea, .post-form input {
    width: 100%;
}

/* css for top menu & logo */
.top-menu, .top-menu:hover, .top-menu:visited {
    margin-block-start: 20px;
    margin-block-end: 20px;
    color: #ffffff;
    float: right;
    font-size: 15pt;
    margin-right: 20px;
}

.top-menu li {
    float: left;
    list-style:none;
}

.top-menu a {
    line-height:75px;
    padding:0 15px;

}

#logo {
    float: left;
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
    font-size: 30pt;
    line-height:75px;
}

#bottom-logo {
    float: left;
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    font-size: 20pt;
    line-height:75px;
}

.exp {
    margin-bottom: 70px;
}

.exp h1 a, .exp h1 a:visited {
    color: #000000;
}

a{
    text-decoration:none;
    color: rgb(229,211,221);
}

/* font for titles */
h1, h2, h3, h4 {
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
}

/* css style for overall form design in experience editing page */
.form-group-exp {
    background-color: rgb(198,155,177);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.form-group-exp input {
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    color: black;
    border-style: none;
    background-color:rgb(214,183,199);
    color:white;
}
.form-group-exp p, .form-group-exp label {
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    color: white;
    margin-top : 12px;
    margin-bottom : 12px;
}

/* button centering wrapper for experience edit form */
.button-center-wrapper-exp {
  display: flex;
  justify-content: center;
  margin-top : 12px;
}

.button-center-wrapper-exp button, .button-center-wrapper-exp button:hover {
    border-style: solid;
    border-color: white;
    border-width: 0.7px;
    background-color: rgb(198,155,177);
    padding: 8px 18px;
    color:white;
    margin-left:7px;
    margin-right:7px;
}
.button-center-wrapper-exp button:hover{
    background-color: rgb(194, 144, 170);
}

/* css style for overall form design in login & sign in page */
.form-group input {
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    color: black;
    
    border-style: none;
    background-color:rgb(142,65,107);
    color:white;
}
.form-group p, .form-group label {
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    color: white;
    margin-top : 12px;
    margin-bottom : 12px;
}

.form-group td, .form-group tr {
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    color: white;
    height: 40px;
}

/* css style for specific form design */
.custom-form {
    width: 350px;
    border-style: none;
    background-color:rgb(142,65,107);
    color:white;
}

.custom-checkbox-form {
    list-style-type: none;
    padding:0;
    margin:0;
}

.custom-radio-form-default {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.custom-fileInput-form {
    width: 350px;
}

/* wrapper for centering button */
.button-center-wrapper {
  display: flex;
  justify-content: center;
  margin-top : 12px;
}

.button-center-wrapper button, .button-center-wrapper button:hover {
    border-style: none;
    background-color: rgba(142, 65, 107, 0.795);
    padding: 8px 18px;
    color:white;
    margin-left:7px;
    margin-right:7px;
}
.button-center-wrapper button:hover{
    background-color: rgba(142, 65, 107, 0.897);
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .5);
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, .5);
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(255, 255, 255, .5);
 }
 
 :-ms-input-placeholder {
    color: rgba(255, 255, 255, .5);
 }

/* for circle of life animation */
.shape {
  animation: moveCircle 1600ms ease-in-out
}

@keyframes moveCircle {
  from {
      r:0;
  }
}

.custom-radio-form input[type=radio] {
    display:none;
}

.custom-checkbox-form input[type=checkbox] {
     display:none;
}

.custom-radio-form input[type=radio]:checked + label{
     background-color:rgb(142,65,107) !important;
}

.custom-checkbox-form input[type=checkbox]:checked + label{
     background-color:rgb(142,65,107) !important;
}

.custom-radio-form input[type=radio] + label {
     background-color: rgb(229,211,221);
     margin-left:20px;
     margin-right:20px;
     color: white;
     border-radius:50%;
     display:inline-block;
     font-size: 14px;
     text-align: center;
     vertical-align: middle;
     cursor: pointer;
     font-weight:400;
}

.custom-checkbox-form input[type=checkbox] + label {
     display:inline-block;
     width:80px;
     /*height:40px;*/
     margin-top:-5px;
     margin-bottom:-5px;
     margin-left:4px;
     margin-right:3px;
     padding: 18px 14px;
     margin-bottom: 0;
     font-size: 14px;
     color: white;
     text-align: center;
     vertical-align: middle;
     cursor: pointer;
     font-weight:400;
}

#Next {
     position:absolute;
     top: 38%;
     left: 80%;
}

#Prev {
    position:absolute;
    top: 38%;
    left: 20%;
    transform: rotate(180deg);
}

/* CSS for report page */

/* Report wrapper */
.report-wrapper {
    width: 100%;
    height: 4000px;
    background-color: yellow;
}

/* My Life */
.my-life {
    width: 98%;
    height: 45%;
    background-color: red;
}

.my-life > .physical-mental-social {
    width: 96%;
    height: 58%;
    background-color: blue;
    /* Display is flexbox that adds horizontally */
    display: inline-flex;
    /* Main axis is horizontal */
    flex-direction: row;
    /* Items get cluttered to one another rather than to be wrapped */
    flex-wrap: nowrap;
    /* Main axis alginment */
    justify-content: space-evenly;
    /* Sub axis alingment */
    align-items: strech;
}

.physical-mental-social > div {
    width: 30%;
    background-color: orange;
    margin: 1%;
}

.physical-content {
    width: 96%;
    height: 90%;
    background-color: purple;
    margin: 1%;
    display: inline-flex;
    /* Main axis is horizontal */
    flex-direction: column;
    /* Items get cluttered to one another rather than to be wrapped */
    flex-wrap: nowrap;
    /* Main axis alginment */
    justify-content: space-evenly;
    /* Sub axis alingment */
    align-items: center;
}

.mental-content {
    width: 96%;
    height: 90%;
    background-color: purple;
    margin: 1%;
    display: inline-flex;
    /* Main axis is horizontal */
    flex-direction: column;
    /* Items get cluttered to one another rather than to be wrapped */
    flex-wrap: nowrap;
    /* Main axis alginment */
    justify-content: space-evenly;
    /* Sub axis alingment */
    align-items: center;
}

.mental-content > div {
    width: 98%;
    height: 30%;
    background-color: pink;
    margin-right: 1%;
    margin-left: 1%;
}

.people-count-description {
    width: 96%;
    height: 90%;
    background-color: purple;
    margin: 1%;
    display: inline-flex;
    /* Main axis is horizontal */
    flex-direction: column;
    /* Items get cluttered to one another rather than to be wrapped */
    flex-wrap: nowrap;
    /* Main axis alginment */
    justify-content: space-evenly;
    /* Sub axis alingment */
    align-items: center;
}

.people-count-description > div {
    width: 98%;
    height: 45%;
    background-color: pink;
    margin-right: 1%;
    margin-left: 1%;
}

.my-life > .experience-overview {
    width: 96%;
    height: 35%;
    background-color: blue;
}

.cluster-description {
    width: 96%;
    height: 83%;
    background-color: orange;
    margin: 1%;
    display: inline-flex;
    /* Main axis is horizontal */
    flex-direction: row;
    /* Items get cluttered to one another rather than to be wrapped */
    flex-wrap: nowrap;
    /* Main axis alginment */
    justify-content: space-evenly;
    /* Sub axis alingment */
    align-items: center;
}

.cluster-description > div {
    width: 48%;
    height: 90%;
    background-color: purple;
    margin-right: 1%;
    margin-left: 1%;
}

/* Life I wish to live */
.wish-life {
    width: 98%;
    height: 20%;
    background-color: red;
}

.wish-life > .life-value-goal {
    width: 96%;
    height: 83%;
    background-color: blue;
    margin: 1%;
    display: inline-flex;
    /* Main axis is horizontal */
    flex-direction: row;
    /* Items get cluttered to one another rather than to be wrapped */
    flex-wrap: nowrap;
    /* Main axis alginment */
    justify-content: space-evenly;
    /* Sub axis alingment */
    align-items: center;
}

.life-value-goal > .life-value .life-goal {
    width: 48%;
    height: 90%;
    background-color: orange;
    margin-right: 1%;
    margin-left: 1%;
}

/* MEGO recommendation */
.recommendation {
    width: 98%;
    height: 33%;
    background-color: red;
}
