{% extends 'MEgo/base.html' %}
{% load static %}

{% block content %}
<div class="report-wrapper">
    <!-- Current life -->
    <div class="my-life">
        <div>
            <h1>My Life</h1>
        </div>
        <div class="physical-mental-social">
            <div class="physical">
                <h2>Physical</h2>
            </div>
            <div class="mental">
                <h2>Mental</h2>
            </div>
            <div class="">
                <h2>Social</h2>
            </div>
        </div>
        <div>
            <h2>Experience Overview</h2>
        </div>
    </div>

    <!-- Life I wish to live -->
    <div class="wish-life"></div>

    <!-- MEGO recommendation -->
    <div class="recommendation"></div>
</div>
{% endblock %}
