{% load static %}
{% load widget_tweaks %}

<html>
    <head>
        <title>MEGO</title>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/MEgo.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Catamaran:wght@400;900&display=swap">
    <style>
        body {
            background: rgb(229,211,221);
            font-family: 'Catamaran', sans-serif;
            font-weight: 400;
            color: white;
        }
    </style>
    </head>
    <body>
        <header class="page-header">
            <h1 class="logo"><a href="{% url 'experience_list' %}">MEGO<a></h1>
            <nav>
                <ul class="top-menu">
                    <li><a> Hello, {{ user.nickname }}!</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'new_question' %}">New_question</a></li>
                    <li><a href="{% url 'experience_new' %}">Experience_new</a></li>
                    <li><a href="{% url 'analysis_report' %}">Analysis_report</a></li>
                    <li><a href="{% url 'support' %}">Support</a></li>
                </ul>
            </nav>
        </header>
        <div class="content container">
            <center>
            {% block content %}
            {% endblock %}
            </center>
        </div>
    </body>
</html>