{% extends 'MEgo/base.html' %}

{% block content %}
    <form method="POST" class="exp-form" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-group-exp">
            <h1>New | Edit Diary</h1>
            {% for field in form %}
              <p><label> {{field.label_tag}}</label></p>
              <p>{{field}}</p>
            {% endfor %}
            <div class="button-center-wrapper-exp">
                <button type="submit" class="button">Save</button>
            </div>
        </div>
    </form>
{% endblock %}