{% extends 'MEgo/new_question_base.html' %}
{% load static %}

{% block content %}
<a id="Next" href="{% url 'new_question' %}"><img src="{% static "Icons/_.png" %}" width="50"></a>
    <div class="question">
        <h2 style="font-size:2em;">{{q.content}}</h2>
        {% if qt == "1" %}
            <a href="{% url 'lfv_new_by_question_d' pk=q.pk %}">Answer</a>
        {% else %}
            <a href="{% url 'experience_new_by_question' qt=qt pk=q.pk %}">Answer</a>
        {% endif %}
    </div>
{% endblock %}