{% load static %}

<html>
    <head>
        <title>MEGO</title>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/MEgo.css    ' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Catamaran:wght@400;900&display=swap">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="content container">
            <div class="row">
                <div class="registration_content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>