{% extends 'registration/login_base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <div class="signup-form">
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
    <table>
      {% for field in form %}
        <tr>
          <td><label> {{field.label_tag}}</label></td>
          <td>{{field}}</td>
        </tr>
    {% endfor %}
    </table>
    </div>
    <div class="button-center-wrapper">
      <button type="submit" class="button">Sign Up</button>
    </div>

  </form>
  </div>
{% endblock %}
