{% extends 'MEgo/base.html' %}
{% load static %}

{% block content %}
    <style>
        body {
            padding-top:200px;
        }
        #name {
            font-weight:600;
        }
        .support-wrapper h2 {
            font-size:40px;
            color:rgba(0,0,0,0.3);
            font-weight:400;
        }
        p {
            font-size:15px;
        }
    </style>
    <img src="{% static "Icons/megosymbol_text.png" %}"height="80%">
    <div class="support-wrapper">
        <p>MEGO is close friend who truly cares about you.<br></br></p>
        <p>You can talk about your experiences and thoughts freely and MEGO will listen.<br></br></p>
        <p>MEGO will visualize your life through circles of experiences and map of your social life.</p>
        <p>When you are stuck and need inspiration,</p>
        <p>MEGO will ask you questions and help you and start thinking.<br></br></p>
        <p>Usually recording your experiences, thoughts and emotions is a boring and troublesome task.</p>
        <p>However, recording is easy and fun with MEGO!</p>
        <p>MEGO lets you record according to categories intuitively with tags and button selection.</p>
        <p>Also MEGO visualizes your life through circles of experiences and a map of your social life.</p>
        <p>This immediate feedback will encourage you to interact with MEGO more.<br></br></p>
        <p>You will be able to see what kind of person you are and grow self-awareness.</p>
        <p>Having a better understanding of yourself is the start to living the life you wish to live.</p>
    </div>
    <div class="support-wrapper">
        <h1>MISSION</h1>
        <h2>Live Your Best Life</h2>
        <p>MEGO’s only wish is for you to live the life you wish.</p>
        <p>With MEGO you can become closer to that life you dream of.<br></br></p>
        <img src="{% static "Icons/support_img.png" %}"height="70%">
    </div>
    <div class="support-wrapper">
        <h1>TEAM WEGO</h1>
        <div class="people-wrapper">
            <div>
                <p id="name">Jiseong Yang</p>
                <p>Data Analyst</p>
            </div>
            <div>
                <p id="name">Eunjin Choi</p>
                <p>Developer</p>
            </div>
            <div>
                <p id="name">Jiwon Yoon</p>
                <p>CEO, Designer</p>
            </div>
        </div>
        <img src="{% static "Icons/WEGO.png" %}"height="75%">
    </div>
    <div class="support-wrapper">
        <h1>CONTACT</h1>
        <p>Da Vinci Lab, KAIST</p>
        <p>juliejiwon@gmail.com</p>
    </div>
{% endblock %}
